/* main colores */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --green: #31d0aa;
  --text: #434456;
  --light-slate: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --navy-blue-modal: #2e2f42;
  --grey: #2e2f42;
  --item: 3;
  --indent: 24px;
  /* animation */
  --anim-duration: 250ms;
}

/* Main Page */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--text);
  background-color: #ffffff;
  margin-top: 0;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--primary-brand);
  background-color: var(--accent);
  border: none;
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background: var(--primary-brand);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header  */
/* logo */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3333;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-web-dark {
  padding-top: 24px;
  padding-bottom: 24px;

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.1722;
  list-style: none;
  color: var(--dark);
}
/* navigation list */
.nav-list {
  display: flex;
  margin-left: 76px;
}
.nav-list .nav-list-item:not(:last-child) {
  margin-right: 40px;
}

.nav-list-link {
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--text);
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--pressed-state);
}
.nav-list-link.current::after {
  content: " ";
  position: absolute;
  bottom: 0;

  display: block;
  height: 4px;
  width: 100%;
  background: var(--pressed-state);
  border-radius: 2px;
}
.nav-list-link.current {
  color: var(--pressed-state);
}

/* mail telephone */
.mail-telephone {
  display: flex;
  margin-left: auto;
}
.mail-telephone-link {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);

  transition-property: color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mail-telephone-link:hover,
.mail-telephone-link:focus {
  color: var(--pressed-state);
}
.mail-telephone .mail-telephone-item:not(:last-child) {
  margin-right: 40px;
}
/* hero section */
.hero {
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;
  background-color: var(--dark);
}

.overlay {
  max-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/main-page/hero/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  width: 496px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-button {
  display: block;
  padding: 16px 32px 16px 32px;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;

  background-color: var(--primary-brand);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color, box-shadow;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
  color: #ffffff;
}

/* features */
.features {
  padding-top: 120px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  padding-top: 24px;
  padding-bottom: 24px;

  background-color: var(--light);
  display: flex;
  justify-content: center;
}
.features-item {
}
.features-header {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.features-text {
  margin-top: 8px;
  width: 264px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* what are we doing */

.what-doing-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.what-doing-list-item {
  flex-basis: calc ((100% - (var(--item)-1) * var(--indent))) / var(--item);
}
/* our team */
.our-team {
  background-color: var(--light);
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.our-team-list {
  margin-top: 72px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);

  text-align: center;
}
.our-team-item {
  --item: 4;
  flex-basis: calc ((100% - (var(--item)-1) * var(--indent))) / var(--item);
  background-color: white;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-box {
  padding: 32px 16px 32px 16px;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.our-team-text {
  margin-top: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;
  background-color: var(--primary-brand);
  border-radius: 50%;
  fill: #ffffff;

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--pressed-state);
}

/* customers */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers-list {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  gap: 24px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;

  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);

  transition-property: border, fill;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:focus,
.customers-link:hover {
  color: var(--pressed-state);
  border: 1px solid var(--pressed-state);
}

.customers-icon {
  display: inline-block;
  fill: currentColor;
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  gap: 120px;

  background-color: var(--dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.footer-container {
  width: fit-content;
  margin-left: 156px;
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}
.logo-web-light {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.footer-text {
  margin-top: 16px;
  margin-right: auto;
  max-width: 264px;
}

/* box social media */

.social-media-container {
  width: fit-content;
}
.social-media {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--green);
}

/* subscribe button */

.subscribe-label {
  font-family: roboto;
  font-style: medium;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02;
}

.subscribe-field {
  display: flex;
  gap: 24px;
  margin-top: 16px;
}

.subscribe-input {
  padding-left: 16px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;

  border-radius: 4px;
  background-color: var(--dark);
  border: solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button {
  position: relative;
  padding-left: 24px;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;

  border-radius: 4px;
  background-color: var(--primary-brand);

  color: #ffffff;
  font-family: roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);

  transition-property: background-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
}

.subscribe-icon {
  position: absolute;
  top: 50%;
}
/* Portfolio page */

/* design gallery */

.portfolio {
  padding-top: 96px;
  text-align: center;
}
.portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.gallery-button {
  display: inline;
  padding: 12px 24px 12px 24px;

  color: var(--primary-brand);
  background-color: var(--light);
  border: 1px solid var(--accent);
  border-radius: 4px;

  transition-property: color, background-color, box-shadow, border;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-button:hover,
.gallery-button:focus {
  color: #ffffff;
  background-color: var(--pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--pressed-state);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.gallery-list {
  margin-top: 72px;
}

.card {
  flex-basis: calc((100% - (24px * 2)) / 3);
}
.tablet {
  padding-top: 32px;
  padding-right: auto;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.gallery-link {
  display: block;
  position: relative;

  transition-property: box-shadow, border;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  display: block;
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.gallery-item {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  color: var(--dark);
}
.gallery-text {
  text-align: left;
  margin-top: 8px;
  text-decoration: none;
  color: var(--text);
  font-size: 16px;
  line-height: calc (24 / 16);
}

.gallery-wrapper {
  position: relative;
  overflow: hidden;
}
.gallery-overlay {
  position: absolute;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  left: 0;
  top: 0;
  overflow: auto;
  width: 100%;
  height: 100%;

  background-color: var(--primary-brand);
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);

  transform: translate(0, 100%);

  transition-property: transform;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .gallery-overlay {
  transform: translate(0, 0);
}
.gallery-link:focus .gallery-overlay {
  transform: translate(0, 0);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* IS HIDDEN  */
.backdrop.is-hidden {
  opacity: 0;
  visibility: 0;
  pointer-events: none;
}

.modal {
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 408px;
  height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition-property: background-color, border, color, fill;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: 4px;
  color: #ffffff;
}

.modal-icon {
  fill: black;
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
  fill: white;
}

.order-form {
  margin-bottom: 72px;
}
.order-title {
  display: block;
  margin-bottom: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */

  color: var(--navy-blue-modal);
}

.order-form-group {
  position: relative;
  margin-bottom: 8px;
}
.order-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.order-form-label-name {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.order-form-field {
  display: block;
  width: 100%;
  padding: 11px 11px 11px 38px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field:focus {
  border: 1px solid #4d5ae5;
}

.order-form-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;
  pointer-events: none;

  transition-property: fill;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-field:focus + .order-form-icon {
  fill: var(--primary-brand);
}

.order-form-comment {
  display: block;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;

  height: 120px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;

  font-size: 12px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}

.order-form-comment:focus {
  border: 1px solid #4d5ae5;
  border-radius: 4px;
}

.order-form-agreement {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.order-form-desc {
  font-family: "Roboto";
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: #757575;
  user-select: none;
}
.order-form-link {
  color: var(--primary-brand);
  text-decoration: underline;
}

.order-form-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;

  border: solid 1.25px #2e2f42;
  border-radius: 2px;

  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;

  transition-property: border-color, bacground-color;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-checkbox:checked {
  background-color: var(--pressed-state);
  border-color: var(var(--pressed-state));
  fill: #ffffff;
}

.order-form-button {
  display: block;
  padding: 16px 32px 16px 32px;
  margin-top: 24px;
  margin-right: auto;
  margin-left: auto;
  width: 169px;

  font-size: 16px;
  font-family: roboto;
  font-style: medium;
  line-height: calc(24 / 16);

  background-color: var(--primary-brand);
  color: #ffffff;
  border-radius: 4px;
  border: var(--primary-brand);

  transition-property: background-color, box-shadow;
  transition-duration: var(--anim-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form-button:hover,
.order-form-button:focus {
  background-color: var(--pressed-state);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
